//nav
$nav-height: 95px;
$nav-submenu-bg: #fff;
$nav-submenu-shadow: rgba(0,0,0, .26);
$nav-submenu-link: #e91e63 !important;
$nav-submenu-link-underline:black;
$nav-menu-bg-hover:  #555;
//header
$header-bg:  rgba(0, 0, 0, .6);
$header-text-color: white;
$header-title-color: #d7d1a6;
$header-title-shadow: rgba(0,0,0, .45);
//wedo
$wedo-bg: #fff;
$wedo-item-border: 1px solid silver;
$wedo-item-title: gray;
$wedo-item-title-H: red;